# Env files
.env
.env.local
.env.*.local

# Dependencies
node_modules/
package-lock.json
yarn.lock

# Build output
dist/
dist-ssr/
*.local

# Editor/IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# TypeScript
*.tsbuildinfo
tsconfig.tsbuildinfo
tsconfig.node.tsbuildinfo

# npm cache
.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
